@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 30px;
    background: pink;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: blue;
}

h1 {
    margin: 0;
}

#addBtn {
    padding: 10px 20px;
    background-color: #00b86b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#searchInput {
    margin: 20px 0;
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.employee-card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ddd;
    width: 30%;
    box-sizing: border-box;
}

.employee-card p {
    margin: 5px 0;
}

.employee-card button {
    margin-right: 10px;
    background: #f44336;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.employee-card button.edit {
    background: #2196f3;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

#employeeForm {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 0 15px #aaa;
}

#employeeForm label {
    display: block;
    margin: 10px 0 5px;
}

#employeeForm input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

.two-column {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.two-column div {
    flex: 1;
}

.form-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.form-actions button {
    padding: 10px 20px;

}